<div class="jumbotron">
	<div class="container">
        <div class="text-center">
    		<h1>ng-starter</h1>
    		<p>A Project to get started with angularjs development.</p>
        </div>
		
	</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <main class="main-content">
                <h1 class="heading-1">ng-starter says, THANK YOU!!</h1> 
                <br>
                <h3 class="heading-3">
                Please fork on <a href="https://github.com/atapas/ng-starter">GITHUB</a>. Feel free to post the issues and enhancement request as well.
                <h3 class="heading-3">    
                <br><br>

                <h3 class="heading-3">Let's first test out the things. Type your name below... </h2>
                <h4 class="heading-4">If you see a greeting message thrown with your name, you are all set up!!</h3>
                <br>
                <input type="text" ng-model="user"  placeholder="What is your name?">
                <br><br>

                <span ng-show="user">Welcome, {{user}}. You are all set. Start adding your own code to explore it more!!
                </span>
            </main>
        </div>
    </div>
    
</div>

